// Variables
@import 'variables';

html {
    ::-webkit-scrollbar {
        width: 10px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
        background: #ddd;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #444;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}

body {
    background-image: url("/public/img/Subnautica-New.webp");
    background-size: cover;
    margin: 0;


    font-family: 'Roboto', sans-serif;

    #alerts {
        position: fixed;
        top: 24px;
        right: 0;

        z-index: 5000;

        @include mobile() {
            & {
                top: 53px;
            }
        }
    }
}



